.marquee {
    color: #ffffff;
    font-size: 96px;
    font-weight: 800;
    margin-right: 30px;
    -ms-overflow-style: none;
}

.Mcontainer {
    width: auto;
    padding-top: 150px;
    padding-bottom: 130px;
    background-color: #7dcafd;
    -ms-overflow-style: none;
}