.marquee {
    color: #ffffff;
    font-size: 96px;
    font-weight: 800;
    margin-right: 30px;
    -ms-overflow-style: none;
}

.Mcontainer {
    width: auto;
    padding-top: 150px;
    padding-bottom: 130px;
    background-color: #7dcafd;
    -ms-overflow-style: none;
}

strong{
  background: linear-gradient(to right top, #e0c3fc, #4facfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
